
.header{
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
     padding:15px
}
.company-header{
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #000000;
background: white;
}
img{
    height: 50px;
    width:50px;
}
#content{
    padding:30px;
}
.content{
  opacity: 0.7;
  background-color: #f4f4f4;
}

.search{
    height: 30px;
    width: 30px;
    padding-top: 10px;      
}
.logo{
    height: 30px;
    width: 30px;
}
.footer{
    background: black;
    padding:10px;
   
}
.contact{
        float: right;
        color:white;
    }

.template-image img{
    height: 50%;
    width: 100%;
    padding-top:30px;
}

.template-content{
    padding: 10px;
    font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: left;
  color: #000000;
}

.line{
  width: 73px;
  height: 3px;
  border: solid 3px #edd30d;
}
.sub-heading{
  font-family: Lato;
  font-size: 30px;
  line-height: 1.24;
  text-align: left;
  color: #222222;
}

.sub-content{
    font-family: Lato;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #5c5c5c;
}
.author-name{
     font-family: Lato;
  font-size: 12px;
  text-align: left;
  color: #818181;
}

/*
#content2{
    padding:30px;
}
*/
.travel{
    height: 40%;
    width: 100%;
}
.travel-content{
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-align: left;
  color: #000000;
}